#include "sm100/device/indexer_gemm.hpp"

namespace minimax::msa_v1::indexer::decode::tp4_q8kv4 {

static_assert(IndexerGemmTraits::kQueryLength == {{ query_length }});
static_assert(IndexerGemmTraits::kHeadDim == {{ head_dim }});
static_assert(IndexerGemmTraits::kPageTokens == {{ page_tokens }});
static_assert(IndexerGemmTraits::kScaleGroupSize == {{ scale_group_size }});
static_assert(IndexerGemmTraits::kPagesPerWorkTile == {{ pages_per_work_tile }});
static_assert(IndexerGemmTraits::kMaximumPages == {{ maximum_pages }});

cudaError_t prepare_indexer_gemm(IndexerGemmArguments const& arguments,
                                 cudaStream_t stream) {
  using Runner = IndexerGemmRunner<IndexerGemmTraits>;
  if (!Runner::can_plan(arguments)) {
    return cudaErrorNotSupported;
  }
  IndexerGemmParams params{};
  cudaError_t status = Runner::to_plan_params(arguments, params);
  if (status != cudaSuccess) {
    return status;
  }
  return Runner::plan(params, arguments.scheduler_temp_storage_ptr,
                      arguments.scheduler_temp_storage_bytes, stream);
}

cudaError_t launch_indexer_gemm(IndexerGemmArguments const& arguments,
                                cudaStream_t stream) {
  using Runner = IndexerGemmRunner<IndexerGemmTraits>;
  if (!Runner::can_run(arguments)) {
    return cudaErrorNotSupported;
  }
  IndexerGemmParams params{};
  cudaError_t status = Runner::to_underlying_arguments(arguments, params);
  if (status != cudaSuccess) {
    return status;
  }
  return Runner::run(params, stream);
}

}  // namespace minimax::msa_v1::indexer::decode::tp4_q8kv4
